############################
# Xcode build files        #
############################
DerivedData/
DerivedData
build/

############################
# Xcode misc files         #
############################
xcuserdata/
xcuserdata
*.xcuserstate
*.xcscmblueprint

############################
# Xcode source control     #
############################
*.xccheckout

############################
# Cocoapods                #
############################
Pods/

############################
# Carthage                 #
############################
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts
Carthage/
Carthage

