github "DaveWoodCom/XCGLogger" ~> 7.0.0
github "ReactiveX/RxSwift" ~> 4.5
github "Quick/Nimble" == 8.0.2
github "onevcat/Kingfisher" ~> 5.0
github "RxSwiftCommunity/RxGesture" ~> 2.2.0
github "wassmd/EndpointLoader" ~> 1.0.0